swagger: '2.0'
info:
  description: "This API is for calling all CDP Backend\n\t\t\t\t\t\t\t\t\t\t\tFunctions. The CDP API is a Facade for all other Telematic\n\t\t\t\t\t\t\t\t\t\t\tBackend Components."
  version: 6.1.40.4
  title: CDP API
host: 'int-b2vii.muc:4856'
schemes: [ https ]
basePath: /cdp/rest/api
tags:
  - name: '/me/vehicles/v2 - EMEA, US'
  - name: /me/service/personalimage - EMEA
  - name: '/vehicle/myinfo - EMEA, US'
  - name: '/vehicle/efficiency/v1 - EMEA, US'
  - name: '/me/vehicles/v1 - EMEA, US'
  - name: '/vehicle/navigation - EMEA, US'
  - name: /me/mapping/v3 - EMEA
  - name: /me/mapping/v3 - US
  - name: '/me/service/mapupdate/download/v1 - EMEA, US'
  - name: '/me/service/batteryguard - EMEA, US'
  - name: '/me/service/mapupdate/areas/v1 - EMEA, US'
  - name: '/vehicle/image EMEA, US'
  - name: '/me/service/parking/booking EMEA, US'
  - name: '/vehicle/remoteservices - EMEA, US'
  - name: '/vehicle/servicepartner - EMEA, US'
  - name: '/me/service/feed - EMEA, US'
  - name: '/vehicle/service - EMEA, US'
  - name: '/service/chargingstation EMEA, US'
  - name: '/vehicle/remoteservice - EMEA, US [deprecated as of T3-16]'
  - name: '/service/dealer - EMEA, US'
  - name: /me/mapping/v1 - US
  - name: /me/mapping/v1 - EMEA
  - name: '/store/v1 - EMEA, US'
  - name: /store/v1 - TEST
  - name: '/service/weather - EMEA, US'
  - name: /store/v2 - TEST
  - name: /store/v2 - EMEA
  - name: '/me/service/speechcontrol - EMEA, US'
  - name: '/me/service/vehicleprofile - EMEA, US'
  - name: '/service/fuelprice EMEA, US'
  - name: '/vehicle/loginsetting EMEA, US'
  - name: '/setting/market - EMEA, US'
  - name: '/me/payment/v2 - wallet EMEA, US'
  - name: '/setting/codetable - EMEA, US'
  - name: '/vehicle/remoteservices/chargingprofile EMEA, US'
  - name: '/me/service/parking EMEA, US'
  - name: '/vehicle/specs - EMEA, US'
  - name: /store/v4 - EMEA
  - name: /store/v4 - TEST
  - name: '/vehicle/dynamic - EMEA, US'
  - name: '/me/profile/v2 - EMEA, US'
  - name: '/policy - EMEA, US'
  - name: '/me/service/email/providers EMEA, US'
  - name: '/me/service/send2car - EMEA, US'
  - name: '/me/payment - taxnumber EMEA, US'
  - name: /store/v3 - EMEA
  - name: /store/v3 - TEST
  - name: '/service/rangespider EMEA, US'
  - name: '/me/service/datastore - EMEA, US'
  - name: '/service/traffic - EMEA, US'
  - name: '/me/service/email/template - EMEA, US'
  - name: '/me/service/email/account/v2 - EMEA, US'
  - name: '/vehicle/v1 - EMEA, US [deprecated as of T3-16]'
  - name: '/me/service/remoteservices - EMEA, US'
  - name: '/vehicle/v2 - EMEA, US'
  - name: /me/invoice/v2 - EMEA
  - name: /me/invoice/v2 - US
  - name: /me/invoice/v1 - EMEA
  - name: /me/invoice/v1 - US
  - name: '/thirdparty/parknow - EMEA, US'
  - name: '/me/service/map/urlsigner/v1 - EMEA, US'
  - name: '/me/profile/v1 - EMEA, US - [deprecated as of T3-16]'
  - name: /me/service/tol/v2 - EMEA
  - name: '/vehicle/connection - EMEA, US'
  - name: '/me/payment/v1 - wallet EMEA, US'
paths:
  /me/invoice/v1:
    get:
      tags:
        - /me/invoice/v1 - EMEA
      summary: returns a list of invoices of the past purchases of the customer
      description: 'Business service calls: IPPaymentService.getDocumentList'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/InvoiceDocumentDO'
        '403':
          description: user is not allowed to access
        '404':
          description: documents not found
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/invoice/v1/language:
    get:
      tags:
        - /me/invoice/v1 - EMEA
        - /me/invoice/v1 - US
      summary: returns the document language of the customer
      description: 'Business Service calls: IPCustomerService.getAccountByGCID'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: successful response
          schema:
            $ref: '#/definitions/LanguageCodeDO'
        '403':
          description: user is not allowed to access
        '404':
          description: document language not found / not yet set
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/invoice/v1/language/{language}':
    post:
      tags:
        - /me/invoice/v1 - EMEA
        - /me/invoice/v1 - US
      summary: sets the document language of the customer
      description: 'Business Service calls: IPCustomerService.updateDocumentLanguage'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: language
          in: path
          description: language id
          required: true
          type: string
      responses:
        '200':
          description: successful response
        '403':
          description: user is not allowed to access
        '404':
          description: 'document language not valid, or customer does not exist, or customer does not have market set'
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/invoice/v1/{id}':
    get:
      tags:
        - /me/invoice/v1 - EMEA
      summary: 'returns an invoice document, if exists'
      description: 'Business Service calls: IPPaymentService.getDocument'

      produces:
        - application/pdf
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: id
          in: path
          description: id of the invoice
          required: true
          type: string
      responses:
        '200':
          description: successful response
        '403':
          description: user is not allowed to access
        '404':
          description: document not found
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/invoice/v2:
    get:
      tags:
        - /me/invoice/v2 - EMEA
      summary: returns a list of invoices of the past purchases of the customer
      description: 'Business service calls: IPPaymentService.getDocumentList'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/InvoiceDocumentV2DO'
        '403':
          description: user is not allowed to access
        '404':
          description: documents not found
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/invoice/v2/language:
    get:
      tags:
        - /me/invoice/v2 - EMEA
        - /me/invoice/v2 - US
      summary: returns the document language of the customer
      description: 'Business Service calls: IPCustomerService.getAccountByGCID'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: successful response
          schema:
            $ref: '#/definitions/LanguageCodeDO'
        '403':
          description: user is not allowed to access
        '404':
          description: document language not found / not yet set
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/invoice/v2/language/{language}':
    post:
      tags:
        - /me/invoice/v2 - EMEA
        - /me/invoice/v2 - US
      summary: sets the document language of the customer
      description: 'Business Service calls: IPCustomerService.updateDocumentLanguage'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: language
          in: path
          description: language id
          required: true
          type: string
      responses:
        '200':
          description: successful response
        '403':
          description: user is not allowed to access
        '404':
          description: 'document language not valid, or customer does not exist, or customer does not have market set'
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/invoice/v2/{id}':
    get:
      tags:
        - /me/invoice/v2 - EMEA
      summary: 'returns an invoice document, if exists'
      description: 'Business Service calls: IPPaymentService.getDocument'

      produces:
        - application/pdf
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: id
          in: path
          description: id of the invoice
          required: true
          type: string
      responses:
        '200':
          description: successful response
        '403':
          description: user is not allowed to access
        '404':
          description: document not found
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/mapping/v1/status:
    get:
      tags:
        - /me/mapping/v1 - EMEA
        - /me/mapping/v1 - US
      summary: 'Get the vehicle status for all vehicles of the customer: vin, license plate, mapping status.'
      description: 'For EMEA this service also delivers the remote service status, in US the remote service status is not available. For US there are PRIMARY and SECONDARY relationships; PRIMARY relationships may have a secondary relationship; SECONDARY relationships may NOT have another secondary relationship. Delivers error 403 if customer unknown, and 404 if no mapping exists'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: vehicle information could be retrieved
          schema:
            $ref: '#/definitions/VehicleRelationshipsDO'
        '403':
          description: user is not allowed to access
        '404':
          description: mapping status not found
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/mapping/v1/{vin}':
    post:
      tags:
        - /me/mapping/v1 - EMEA
        - /me/mapping/v1 - US
      summary: 'First step (of two steps) to map the vehicle to the customer. '
      description: 'This method also checks, whether user agreed to latest policy. The following error codes are EMEA-specific: BU_CHANGE_NOT_ALLOWED, MAPPING_DISABLED. The following error codes are US-specific: CUSTOMER_DOES_NOT_EXIST, WAIVED, FLEET_VEHICLE, NOT_ALLOWED_TO_CREATE_SECONDARY, BACKEND_SYSTEM_DOWN_NO_USER_ACTION, BACKEND_SYSTEM_DOWN_USER_ACTION, SAVING_LICENSE_PLATE_FAILED, NO_ADDRESS_AVAILABLE'

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: vin
          in: path
          description: long vin
          required: true
          type: string
        - in: body
          name: body
          description: 'Contains all vehicle meta data necessary for mapping process, subscriberStatus for US only'
          required: true
          schema:
            $ref: '#/definitions/VehicleMappingDataDO'
      responses:
        '200':
          description: 'first step of mapping processed, token sent to customer''s vehicle'
          schema:
            $ref: '#/definitions/MappingInitStatusDO'
        '400':
          description: 'some of the parameters are not correct, licenseplate is limited to 20 characters.'
        '403':
          description: user is not allowed to access
        '404':
          description: vin not found or wrong format
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
    delete:
      tags:
        - /me/mapping/v1 - EMEA
        - /me/mapping/v1 - US
      summary: 'Deletes the mapping between a vin and a customer. '
      description: 'If relationship did not exist, a success-status is returned. The following errors may be returned with status 200: RELATIONSHIP_NOT_EXISTS_FOR_VIN_GCID or ANOTHER_RELATIONSHIP_ORDER_IN_PROGRESS.'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: 'gcid, in US this is either the gcid of the primary user or the gcid of the secondary user'
          required: true
          type: string
          default: ''
        - name: vin
          in: path
          description: vin
          required: true
          type: string
      responses:
        '200':
          description: relationship is deleted
          schema:
            $ref: '#/definitions/MappingConfirmationStatusDO'
        '400':
          description: some of the parameters are not correct
        '403':
          description: user is not allowed to access
        '404':
          description: 'vin not found or wrong format, token has wrong format'
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/mapping/v1/{vin}/licenceplate':
    post:
      tags:
        - /me/mapping/v1 - US
      summary: This method updates the realtionship with a new license plate.
      description: 'The following status codes may be returned with 200-response: OK, FAILURE.'

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: vin
          in: path
          description: vin
          required: true
          type: string
        - in: body
          name: body
          description: data to be updated
          required: true
          schema:
            $ref: '#/definitions/UpdateMappingDO'
      responses:
        '200':
          description: successful response
        '400':
          description: parameter(s) in url or payload is not syntactically valid
        '403':
          description: user is not allowed to access
        '404':
          description: vin is not related to given gcid
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/mapping/v1/{vin}/preconditions':
    get:
      tags:
        - /me/mapping/v1 - EMEA
        - /me/mapping/v1 - US
      summary: 'Checks, whether all preconditions for mapping are fulfilled: '
      description: 'long vin known, vehicle of brand BMW, vehicle connectivity status not waived; also returns necessary policyId (AGB_POLICY_MAPPING_BMWI, AGB_POLICY_MAPPING_NEW, AGB_POLICY_MAPPING_OLD). In case of error returns one of:  NOTFOUND (= vehicle does not exist), VEHICLE_NOT_BMW, NOTMYINFO_COMPLIANT, WAIVED, FLEET_VEHICLE, BACKEND_SYSTEM_DOWN_NO_USER_ACTION.The following error codes are US-specific: NOTMYINFO_COMPLIANT, WAIVED, FLEET_VEHICLE, BACKEND_SYSTEM_DOWN_NO_USER_ACTION'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: vin
          in: path
          description: 'the vin[7 or 17 characters] that is to be validated'
          required: true
          type: string
      responses:
        '200':
          description: 'possibly list of errors, policy Id necessary for mapping'
          schema:
            $ref: '#/definitions/MappingPreconditionsDO'
        '400':
          description: some of the parameters are not correct
        '403':
          description: user is not allowed to access
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/mapping/v1/{vin}/resend':
    post:
      tags:
        - /me/mapping/v1 - EMEA
        - /me/mapping/v1 - US
      summary: 'This method send a new valid token to the specified vehicle. '
      description: 'The following status codes may be returned with 200-response: OK, FAILURE.'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: vin
          in: path
          description: vin
          required: true
          type: string
      responses:
        '200':
          description: successful response
          schema:
            $ref: '#/definitions/MappingInitStatusDO'
        '400':
          description: parameter(s) in url is not syntactically valid
        '403':
          description: user is not allowed to access
        '404':
          description: vin is not related to given gcid
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/mapping/v1/{vin}/secondary':
    delete:
      tags:
        - /me/mapping/v1 - US
      summary: 'For US only: Deletes the mapping between a vin and the secondary subscribers of the given customer (gcid). '
      description: 'If relationship did not exist, a success-status is returned The following errors may be returned with status 200: RELATIONSHIP_NOT_EXISTS_FOR_VIN_GCID or ANOTHER_RELATIONSHIP_ORDER_IN_PROGRESS.'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: 'gcid, in US this is the gcid of the primary user'
          required: true
          type: string
          default: ''
        - name: vin
          in: path
          description: vin
          required: true
          type: string
      responses:
        '200':
          description: relationship is deleted
          schema:
            $ref: '#/definitions/MappingInitStatusDO'
        '400':
          description: some of the parameters are not correct
        '403':
          description: user is not allowed to access
        '404':
          description: 'vin not found or wrong format, token has wrong format'
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/mapping/v1/{vin}/token':
    post:
      tags:
        - /me/mapping/v1 - EMEA
        - /me/mapping/v1 - US
      summary: Second step (of two steps) to map the vehicle to the customer.
      description: 'This method tests, whether the token is correct. If yes, the vehicle is mapped. All error codes are returned with status 200. The following error codes are EMEA-specific: RELATIONSHIP_NOT_EXISTS_FOR_VIN_GCID, ANOTHER_RELATIONSHIP_ORDER_IN_PROGRESS, MAPPING_DISABLED, SECURITY_TOKEN_EXPIRED, SECURITY_TOKEN_INCORRECT_KNOWN_TOKEN_EXPIRED. The following error codes are US-specific: BACKEND_SYSTEM_DOWN_NO_USER_ACTION, BACKEND_SYSTEM_DOWN_USER_ACTION, RELATIONSHIP_CANNOT_BE_CONFIRMED, RELATIONSHIP_CANNOT_BE_CONFIRMED, CUSTOMER_DOES_NOT_EXIST, VEHICLE_DOES_NOT_EXIST. '

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: vin
          in: path
          description: long vin
          required: true
          type: string
        - in: body
          name: body
          description: mapping token that has been sent to customer's vehicle
          required: true
          schema:
            $ref: '#/definitions/TokenDO'
      responses:
        '200':
          description: 'second step of mapping processed, token will be checked and vin will be confirmed.'
          schema:
            $ref: '#/definitions/MappingConfirmationStatusDO'
        '400':
          description: 'some of the parameters are not correct, tok'
        '403':
          description: user is not allowed to access
        '404':
          description: vin not found.
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/mapping/v3/status:
    get:
      tags:
        - /me/mapping/v3 - EMEA
      summary: 'Get the vehicle status for all vehicles of the customer: vin, license plate, mapping status, confirmation type. This endpoint also contains the new confirmation type status for LIGHT-mapped vehicles, which is not applicable for US; therefore use status/v1/ in US'
      description: 'This service also delivers the remote service status.Delivers error 403 if customer unknown, and 404 if no mapping exists'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: vehicle information could be retrieved
          schema:
            $ref: '#/definitions/VehicleRelationshipsV3EMEADO'
        '403':
          description: user is not allowed to access
        '404':
          description: mapping status not found
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/mapping/v3/{vin}':
    post:
      tags:
        - /me/mapping/v3 - EMEA
        - /me/mapping/v3 - US
      summary: 'First step (of two steps) to map the vehicle to the customer.  V3 version also remembers the number of mis-trials (repeatedly not-existing vin given by customer)  and blocks /precondition-method, if maximum number of mistrials reached.'
      description: 'This method also checks, whether user agreed to latest policy. The following error codes are EMEA-specific: BU_CHANGE_NOT_ALLOWED, MAPPING_DISABLED. The following error codes are US-specific: CUSTOMER_DOES_NOT_EXIST, WAIVED, FLEET_VEHICLE, NOT_ALLOWED_TO_CREATE_SECONDARY, BACKEND_SYSTEM_DOWN_NO_USER_ACTION, BACKEND_SYSTEM_DOWN_USER_ACTION, SAVING_LICENSE_PLATE_FAILED, NO_ADDRESS_AVAILABLE'

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: vin
          in: path
          description: long vin
          required: true
          type: string
        - in: body
          name: body
          description: 'Contains all vehicle meta data necessary for mapping process, subscriberStatus for US only'
          required: true
          schema:
            $ref: '#/definitions/VehicleMappingDataDO'
      responses:
        '200':
          description: 'first step of mapping processed, token sent to customer''s vehicle'
          schema:
            $ref: '#/definitions/MappingInitStatusV3DO'
        '400':
          description: 'some of the parameters are not correct, licenseplate is limited to 20 characters.'
        '403':
          description: user is not allowed to access
        '404':
          description: vin not found or wrong format
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
    delete:
      tags:
        - /me/mapping/v3 - EMEA
        - /me/mapping/v3 - US
      summary: Deletes the mapping between a vin and a customer. No changes to v2-version.
      description: 'If relationship did not exist, a success-status is returned. The following errors may be returned with status 200: RELATIONSHIP_NOT_EXISTS_FOR_VIN_GCID or ANOTHER_RELATIONSHIP_ORDER_IN_PROGRESS.'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: 'gcid, in US this is either the gcid of the primary user or the gcid of the secondary user'
          required: true
          type: string
          default: ''
        - name: vin
          in: path
          description: vin
          required: true
          type: string
      responses:
        '200':
          description: relationship is deleted
          schema:
            $ref: '#/definitions/MappingConfirmationStatusDO'
        '400':
          description: some of the parameters are not correct
        '403':
          description: user is not allowed to access
        '404':
          description: 'vin not found or wrong format, token has wrong format'
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/mapping/v3/{vin}/licenceplate':
    post:
      tags:
        - /me/mapping/v3 - US
      summary: This method updates the realtionship with a new license plate. No changes to v2-version.
      description: 'The following status codes may be returned with 200-response: OK, FAILURE.'

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: vin
          in: path
          description: vin
          required: true
          type: string
        - in: body
          name: body
          description: data to be updated
          required: true
          schema:
            $ref: '#/definitions/UpdateMappingDO'
      responses:
        '200':
          description: successful response
        '400':
          description: parameter(s) in url or payload is not syntactically valid
        '403':
          description: user is not allowed to access
        '404':
          description: vin is not related to given gcid
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/mapping/v3/{vin}/light':
    post:
      tags:
        - /me/mapping/v3 - EMEA
      summary: Create a light mapping between customer (gcid) and vin. No changes to v2-version. For EMEA only.
      description: 'It is only possible to call this method, if shopping basket validation returned LIGHT_MAPPING_POSSIBLE'

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: vin
          in: path
          description: long vin
          required: true
          type: string
      responses:
        '200':
          description: light mapping successful
          schema:
            $ref: '#/definitions/MappingInitStatusDO'
        '400':
          description: some of the parameters are not correct.
        '403':
          description: user is not allowed to access
        '404':
          description: vin not found or wrong format
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/mapping/v3/{vin}/preconditions':
    get:
      tags:
        - /me/mapping/v3 - EMEA
        - /me/mapping/v3 - US
      summary: 'Checks, whether all preconditions for mapping are fulfilled. V3 version also counts the number of times the user tries to call this function with a non-existing vin.  After some amount of mistrials (currently: 5) this method is blocked for a specified amount of time (5 minutes). '
      description: 'long vin known, vehicle of brand BMW, vehicle connectivity status not waived; also returns necessary policyId (AGB_POLICY_MAPPING_BMWI, AGB_POLICY_MAPPING_NEW, AGB_POLICY_MAPPING_OLD). In case of error returns one of:  NOTFOUND (= vehicle does not exist), VEHICLE_NOT_BMW, NOTMYINFO_COMPLIANT, WAIVED, FLEET_VEHICLE, BACKEND_SYSTEM_DOWN_NO_USER_ACTION.The following error codes are US-specific: NOTMYINFO_COMPLIANT, WAIVED, FLEET_VEHICLE, BACKEND_SYSTEM_DOWN_NO_USER_ACTION'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: vin
          in: path
          description: 'the vin[7 or 17 characters] that is to be validated'
          required: true
          type: string
      responses:
        '200':
          description: 'possibly list of errors, policy Id necessary for mapping'
          schema:
            $ref: '#/definitions/MappingPreconditionsV3DO'
        '400':
          description: some of the parameters are not correct
        '403':
          description: user is not allowed to access
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/mapping/v3/{vin}/resend':
    post:
      tags:
        - /me/mapping/v3 - EMEA
        - /me/mapping/v3 - US
      summary: This method send a new valid token to the specified vehicle. No changes to v2-version.
      description: 'The following status codes may be returned with 200-response: OK, FAILURE.'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: vin
          in: path
          description: vin
          required: true
          type: string
      responses:
        '200':
          description: successful response
          schema:
            $ref: '#/definitions/MappingInitStatusDO'
        '400':
          description: parameter(s) in url is not syntactically valid
        '403':
          description: user is not allowed to access
        '404':
          description: vin is not related to given gcid
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/mapping/v3/{vin}/secondary':
    delete:
      tags:
        - /me/mapping/v3 - US
      summary: 'For US only: Deletes the mapping between a vin and the secondary subscribers of the given customer (gcid). No changes to v2-version. For US only.'
      description: 'If relationship did not exist, a success-status is returned The following errors may be returned with status 200: RELATIONSHIP_NOT_EXISTS_FOR_VIN_GCID or ANOTHER_RELATIONSHIP_ORDER_IN_PROGRESS.'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: 'gcid, in US this is the gcid of the primary user'
          required: true
          type: string
          default: ''
        - name: vin
          in: path
          description: vin
          required: true
          type: string
      responses:
        '200':
          description: relationship is deleted
          schema:
            $ref: '#/definitions/MappingInitStatusDO'
        '400':
          description: some of the parameters are not correct
        '403':
          description: user is not allowed to access
        '404':
          description: 'vin not found or wrong format, token has wrong format'
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/mapping/v3/{vin}/token':
    post:
      tags:
        - /me/mapping/v3 - EMEA
        - /me/mapping/v3 - US
      summary: Second step (of two steps) to map the vehicle to the customer. No changes to v2-version.
      description: 'This method tests, whether the token is correct. If yes, the vehicle is mapped. All error codes are returned with status 200. The following error codes are EMEA-specific: RELATIONSHIP_NOT_EXISTS_FOR_VIN_GCID, ANOTHER_RELATIONSHIP_ORDER_IN_PROGRESS, MAPPING_DISABLED, SECURITY_TOKEN_EXPIRED, SECURITY_TOKEN_INCORRECT_KNOWN_TOKEN_EXPIRED. The following error codes are US-specific: BACKEND_SYSTEM_DOWN_NO_USER_ACTION, BACKEND_SYSTEM_DOWN_USER_ACTION, RELATIONSHIP_CANNOT_BE_CONFIRMED, RELATIONSHIP_CANNOT_BE_CONFIRMED, CUSTOMER_DOES_NOT_EXIST, VEHICLE_DOES_NOT_EXIST. '

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: vin
          in: path
          description: long vin
          required: true
          type: string
        - in: body
          name: body
          description: mapping token that has been sent to customer's vehicle
          required: true
          schema:
            $ref: '#/definitions/TokenDO'
      responses:
        '200':
          description: 'second step of mapping processed, token will be checked and vin will be confirmed.'
          schema:
            $ref: '#/definitions/MappingConfirmationStatusDO'
        '400':
          description: 'some of the parameters are not correct, tok'
        '403':
          description: user is not allowed to access
        '404':
          description: vin not found.
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/payment/v1/taxnumber:
    get:
      tags:
        - '/me/payment - taxnumber EMEA, US'
      summary: returns taxnumber/citizennumber or other similar number.
      description: ''

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: successful response
          schema:
            $ref: '#/definitions/TaxnumberDO'
        '404':
          description: No taxnumber found
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
    post:
      tags:
        - '/me/payment - taxnumber EMEA, US'
      summary: stores taxnumber/citizennumber or other similar number
      description: 'gcid must be known to backend system (BIP), i. e. customer must have a profile.'

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - in: body
          name: body
          description: number
          required: true
          schema:
            $ref: '#/definitions/TaxnumberDO'
      responses:
        '200':
          description: successful response
        '400':
          description: taxnumber format wrong or taxnumber did not pass additional verfication check
        '404':
          description: no taxnumber defined for market of given customer
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
    delete:
      tags:
        - '/me/payment - taxnumber EMEA, US'
      summary: deletes taxnumber/citizennumber or other similar number.
      description: 'This method cannot be executed, if the taxnumber is mandatory for the market of the customer. '

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: successful response
        '400':
          description: 'Will be thrown, if deletion is not allowed.'
          schema:
            $ref: '#/definitions/ErrorsDO'
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/payment/v1/taxnumber/validation:
    get:
      tags:
        - '/me/payment - taxnumber EMEA, US'
      summary: 'returns status, if customer needs a taxnumber/citizennumber or other similar number'
      description: ''

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: 'successful response, regardless of whether taxnumber available or not'
          schema:
            $ref: '#/definitions/TaxnumberInformationDO'
        '404':
          description: no taxnumber defined for market of given customer
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/payment/v1/taxnumber/validation/{market}/{language}':
    get:
      tags:
        - '/me/payment - taxnumber EMEA, US'
      summary: 'returns status, if market needs a taxnumber/citizennumber or other similar number'
      description: ''

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: market
          in: path
          description: 'market / country (ISO country code): only certain markets are allowed; must be valid market; must be used together with language'
          required: true
          type: string
        - name: language
          in: path
          description: 'language (ISO language code) : only certain languages are allowed; must be valid language; must be used together with market'
          required: true
          type: string
      responses:
        '200':
          description: successful response
          schema:
            $ref: '#/definitions/ValidationAttributesAndConditionsDO'
        '404':
          description: no taxnumber defined for given market
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/payment/v1/wallet:
    get:
      tags:
        - '/me/payment/v1 - wallet EMEA, US'
      summary: returns the information of the customers wallet
      description: ''

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: successful response
          schema:
            $ref: '#/definitions/PaymentInformationDO'
        '403':
          description: user is not allowed to access
        '404':
          description: no wallet found for user
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
    delete:
      tags:
        - '/me/payment/v1 - wallet EMEA, US'
      summary: Deletes the payment profile from BIP.
      description: ''

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: successful response
        '404':
          description: no payment profile exists for given gcid
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/payment/v1/wallet/session:
    post:
      tags:
        - '/me/payment/v1 - wallet EMEA, US'
      summary: returns a URL for opening the payment iFrame for adding or updating a payment method. All the given URLs must be absolute.
      description: ''

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - in: body
          name: body
          description: 'attributes for a wallet session, cardId == instrumentId of PaymentInformationDO from get-wallet-method'
          required: true
          schema:
            $ref: '#/definitions/WalletSessionDO'
      responses:
        '200':
          description: successful response
          schema:
            $ref: '#/definitions/UrlDO'
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/payment/v1/wallet/session/{callbackType}':
    post:
      tags:
        - '/me/payment/v1 - wallet EMEA, US'
      summary: synchronize the BPO payment data to BIP
      description: ''

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: callbackType
          in: path
          description: callback type
          required: true
          type: string
          enum:
            - SUCCESS
            - FAILURE
            - CANCEL
      responses:
        '200':
          description: successful response
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/payment/v2/wallet:
    get:
      tags:
        - '/me/payment/v2 - wallet EMEA, US'
      summary: returns the payment profile from BIP. No changes to v1-version.
      description: ''

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: successful response
          schema:
            $ref: '#/definitions/PaymentInformationDO'
        '403':
          description: user is not allowed to access
        '404':
          description: no payment profile found for user
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
    delete:
      tags:
        - '/me/payment/v2 - wallet EMEA, US'
      summary: 'Deletes the payment profile from BIP. New to v2: error code: PaymentStatusEnumDO.ORDER_STILL_PENDING'
      description: Deletes the payment profile from BIP and returns a PaymentStatusDO at successful response.

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: successful response
          schema:
            $ref: '#/definitions/PaymentStatusDO'
        '404':
          description: no payment profile exists for given gcid
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/payment/v2/wallet/session:
    post:
      tags:
        - '/me/payment/v2 - wallet EMEA, US'
      summary: returns a URL for opening the payment iFrame for adding or updating a payment method. All the given URLs must be absolute. No changes to v1-version.
      description: ''

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - in: body
          name: body
          description: 'attributes for a wallet session, cardId == instrumentId of PaymentInformationDO from get-wallet-method'
          required: true
          schema:
            $ref: '#/definitions/WalletSessionDO'
      responses:
        '200':
          description: successful response
          schema:
            $ref: '#/definitions/UrlDO'
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/payment/v2/wallet/session/{callbackType}':
    post:
      tags:
        - '/me/payment/v2 - wallet EMEA, US'
      summary: synchronize the BPO payment data to BIP. No changes to v1-version.
      description: ''

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: callbackType
          in: path
          description: callback type
          required: true
          type: string
          enum:
            - SUCCESS
            - FAILURE
            - CANCEL
      responses:
        '200':
          description: successful response
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/profile/v1:
    get:
      tags:
        - '/me/profile/v1 - EMEA, US - [deprecated as of T3-16]'
      summary: 'Returns the data of the session customer, customer and (private) address'
      description: 'Hub-specific, Business Service calls: in EMEA IPCustomerService.getCustomer (BIP),  in CN IPCustomerCNService.getCustomer (CASA), in US IPCustomerUSService.getCustomer (TDE)'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: 'all known customer attributes and private address data, if exists, are returned'
          schema:
            $ref: '#/definitions/CompleteCustomerDO'
        '403':
          description: user is not allowed to access
        '404':
          description: user not found
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
    post:
      tags:
        - '/me/profile/v1 - EMEA, US - [deprecated as of T3-16]'
      summary: 'Returns the updated customer and optionally private address data. For Japan the following name attributes should be present: firstName, alternateFirstName, lastName, alternateLastname, title (==gender). For other markets the following name attributes should be present: firstName, middleName, lastName, title (==gender). For Italy the following birth attributes must be present additionally: birthDate, birthCountry, birthProvince, birthCity. Address attributes are country specific, also. For US there might be a list of address suggestions returned in case the given address did not match any existing address. If an address suggestion is returned, the address object contains the address that is suggested. In this case the address is not saved!'
      description: 'Hub-specific, Business Service calls: in EMEA IPCustomerService.createOrUpdateCustomer (BIP),  in CN not available, in US IPCustomerUSService.createOrUpdateCustomer (TDE)</br>The following status codes could be in the response:</br>OK for success (HTTP Status Code 200)</br>CUSTOMER_NOT_VALID if the customer object is empty or not valid (HTTP Status Code 400)</br>ADDRESS_NOT_VALID if the customer address is empty or not valid (HTTP Status Code 400)</br>USER_ALREADY_EXISTS_WITH_ANOTHER_GCID (only for US) if a user with the same data and other gcid already exists (HTTP Status Code 400)'

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - in: body
          name: body
          description: 'Customer object containing ALL attributes for customer and optionally private address, (also attributes that do not change!). Account object not used here'
          required: true
          schema:
            $ref: '#/definitions/CompleteCustomerDO'
      responses:
        '200':
          description: all known customer attributes are returned
          schema:
            $ref: '#/definitions/CompleteCustomerWithAddressSuggestionsDO'
        '400':
          description: 'some of the parameters are not correct; if market - language combination invalid; if login email not in GCDM and not given in customer object; if returned in US-Hub, an address suggestions might be returned in place of the address (beware: address suggestion does contain address values only), it does not return values like the phone number since phone number cannot be validated.'
          schema:
            $ref: '#/definitions/CompleteCustomerWithAddressSuggestionsDO'
        '403':
          description: user is not allowed to access
        '404':
          description: User not found
        '500':
          description: An internal error or exception occurred
        '503':
          description: Provider not reachable
  /me/profile/v1/validation:
    get:
      tags:
        - '/me/profile/v1 - EMEA, US - [deprecated as of T3-16]'
      summary: 'Returns a list of mandatory attributes that are missing for the given customer. Precondition: Customer (gcid) exists in IDS. If locale given although customer already exists, throw 400. If no locale given although customer does not exist, throw 404.'
      description: 'Hub-specific, Business Service call: in EMEA IPCustomerService.checkCustomer. Market and language not necessary, if customer already exists in BIP; otherwise both country and language are needed.'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: market
          in: query
          description: 'market / country (ISO country code): only certain markets are allowed; must be valid market; must be used together with language; necessary, if customer does not exist'
          required: false
          type: string
        - name: language
          in: query
          description: 'language (ISO language code) : only certain languages are allowed; must be valid language; must be used together with market; necessary, if customer does not exist'
          required: false
          type: string
        - name: validationType
          in: query
          description: 'type: if ''MAPPING'' or empty validate customer only, if ''STORE'' also validate address. default is ''MAPPING'''
          required: false
          type: string
          enum:
            - MAPPING
            - STORE
      responses:
        '200':
          description: 'returns, which mandatory attributes need be set to create a customer not set for the customer'
          schema:
            $ref: '#/definitions/CustomerInformationV1DO'
        '400':
          description: 'some of the parameters are not correct; if market - language combination invalid; if market and language given, although customer already exists'
        '403':
          description: user is not allowed to access
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/profile/v2:
    get:
      tags:
        - '/me/profile/v2 - EMEA, US'
      summary: 'Returns the data of the session customer, customer and private address. No changes to v1-version.'
      description: 'Hub-specific, Business Service calls: in EMEA IPCustomerService.getCustomer (BIP),  in CN IPCustomerCNService.getCustomer (CASA), in US IPCustomerUSService.getCustomer (TDE)'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: 'all known customer attributes and private address data, if exists, are returned'
          schema:
            $ref: '#/definitions/CompleteCustomerDO'
        '403':
          description: user is not allowed to access
        '404':
          description: user not found
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: 'A business exception occured, e. g. provider not reachable'
          schema:
            $ref: '#/definitions/ErrorsDO'
    post:
      tags:
        - '/me/profile/v2 - EMEA, US'
      summary: Returns the updated customer and optionally customer address data. No changes to v1-version.
      description: 'If accountType=UNDEFINED is given, it will be ignored. For Japan the following name attributes should be present: firstName, alternateFirstName, lastName, alternateLastname, title (==gender). For other markets the following name attributes should be present: firstName, middleName, lastName, title (==gender). For Italy the following birth attributes must be present additionally: birthDate, birthCountry, birthProvince, birthCity. Address attributes are country specific, also. For US there might be a list of address suggestions returned in case the given address did not match any existing address. If an address suggestion is returned, the address object contains the address that is suggested. In this case the address is not saved!</br>The following status codes could be in the response:</br>OK for success (HTTP Status Code 200)</br>CUSTOMER_NOT_VALID if the customer object is empty or not valid (HTTP Status Code 400)</br>ADDRESS_NOT_VALID if the customer address is empty or not valid (HTTP Status Code 400)</br>USER_ALREADY_EXISTS_WITH_ANOTHER_GCID (only for US) if a user with the same data and other gcid already exists (HTTP Status Code 400)'

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - in: body
          name: body
          description: 'Customer object containing ALL attributes for customer and optionally private customer address, (also attributes that do not change!). Default for accountType : UNKNOWN. Account object not used here'
          required: true
          schema:
            $ref: '#/definitions/CompleteCustomerDO'
      responses:
        '200':
          description: all known customer attributes are returned
          schema:
            $ref: '#/definitions/CompleteCustomerWithAddressSuggestionsDO'
        '400':
          description: 'some of the parameters are not correct; if market - language combination invalid; if login email not in GCDM and not given in customer object; if input validation failed (using /validation), also 400 is returned; if returned in US-Hub, an address suggestions might be returned in place of the address (beware: address suggestion does contain address values only), it does not return values like the phone number since phone number cannot be validated.'
          schema:
            $ref: '#/definitions/CompleteCustomerWithAddressSuggestionsDO'
        '403':
          description: user is not allowed to access
        '404':
          description: User not found
        '500':
          description: An internal error occurred
        '503':
          description: 'A business exception occured, e. g. provider not reachable'
  /me/profile/v2/address/billing:
    get:
      tags:
        - '/me/profile/v2 - EMEA, US'
      summary: Returns the billing address data for the given address type of the session customer
      description: 'Hub-specific, Business Service calls: in EMEA IPCustomerService.getAddress (BIP), for other hubs currently not available'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: 'all known address attributes for the given address type, if exists, are returned'
          schema:
            $ref: '#/definitions/ProfileAddressDO'
        '403':
          description: user is not allowed to access
        '404':
          description: User not found
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: 'A business exception occured, e. g. provider not reachable'
          schema:
            $ref: '#/definitions/ErrorsDO'
    post:
      tags:
        - '/me/profile/v2 - EMEA, US'
      summary: 'Returns the updated billing address. '
      description: 'Hub-specific, Business Service calls: in EMEA IPCustomerService.createOrUpdateAddress (BIP),  in CN not available, in US IPCustomerUSService.createOrUpdateCustomer (TDE)'

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - in: body
          name: body
          description: the address object
          required: true
          schema:
            $ref: '#/definitions/ProfileAddressDO'
      responses:
        '200':
          description: all known customer attributes are returned
          schema:
            $ref: '#/definitions/ProfileAddressDO'
        '400':
          description: 'at least one of the parameters is wrong, validation of input failed'
        '403':
          description: user is not allowed to access
        '404':
          description: User not found
        '500':
          description: An internal error occurred
        '503':
          description: 'A business exception occured, e. g. provider not reachable'
  /me/profile/v2/address/billing/validation:
    get:
      tags:
        - '/me/profile/v2 - EMEA, US'
      summary: Returns a list of mandatory and optional attributes that are needed to create or update an address for the given user.
      description: 'Hub-specific, Business Service call: in EMEA IPCustomerService.getMandatoryAttributesAddress'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: 'returns, which mandatory attributes need to be set to create an address'
          schema:
            $ref: '#/definitions/AddressInformationDO'
        '400':
          description: some of the parameters are not correct; if market - language combination invalid; no address defined for market of customer
        '403':
          description: user is not allowed to access
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: 'A business exception occured, e. g. provider not reachable'
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/profile/v2/address/billing/validation/{market}/{language}':
    get:
      tags:
        - '/me/profile/v2 - EMEA, US'
      summary: Returns a list of mandatory attributes that are needed to create an address for the given market
      description: 'Hub-specific, Business Service call: in EMEA IPCustomerService.getMandatoryAttributesAddress'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: market
          in: path
          description: 'market / country (ISO country code): only certain markets are allowed'
          required: true
          type: string
        - name: language
          in: path
          description: 'language (ISO language code) : only certain languages are allowed '
          required: true
          type: string
      responses:
        '200':
          description: 'returns, which mandatory attributes need to be set to create an address'
          schema:
            $ref: '#/definitions/ValidationAttributesAndConditionsDO'
        '400':
          description: some of the parameters are not correct; if market - language combination invalid
        '403':
          description: user is not allowed to access
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: 'A business exception occured, e. g. provider not reachable'
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/profile/v2/address/delivery:
    get:
      tags:
        - '/me/profile/v2 - EMEA, US'
      summary: Returns the delivery address data for the given address type of the session customer
      description: 'Hub-specific, Business Service calls: in EMEA IPCustomerService.getAddress (BIP), for other hubs currently not available'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: 'all known address attributes for the given address type, if exists, are returned'
          schema:
            $ref: '#/definitions/ProfileAddressDO'
        '403':
          description: user is not allowed to access
        '404':
          description: User not found
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: 'A business exception occured, e. g. provider not reachable'
          schema:
            $ref: '#/definitions/ErrorsDO'
    post:
      tags:
        - '/me/profile/v2 - EMEA, US'
      summary: 'Returns the updated delivery address. '
      description: 'Hub-specific, Business Service calls: in EMEA IPCustomerService.createOrUpdateAddress (BIP),  in CN not available, in US IPCustomerUSService.createOrUpdateCustomer (TDE)'

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - in: body
          name: body
          description: the address object
          required: true
          schema:
            $ref: '#/definitions/ProfileAddressDO'
      responses:
        '200':
          description: all known customer attributes are returned
          schema:
            $ref: '#/definitions/ProfileAddressDO'
        '400':
          description: 'at least one of the parameters is wrong, validation of input failed, or market does not have a delivery address'
        '403':
          description: user is not allowed to access
        '404':
          description: User not found
        '500':
          description: An internal error occurred
        '503':
          description: 'A business exception occured, e. g. provider not reachable'
  /me/profile/v2/address/delivery/validation:
    get:
      tags:
        - '/me/profile/v2 - EMEA, US'
      summary: Returns a list of mandatory attributes that are needed to create an address for the given user
      description: 'Hub-specific, Business Service call: in EMEA IPCustomerService.getMandatoryAttributesAddress'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: 'returns, which mandatory attributes need to be set to create an address'
          schema:
            $ref: '#/definitions/AddressInformationDO'
        '400':
          description: some of the parameters are not correct; if market - language combination invalid; no address defined for market of customer
        '403':
          description: user is not allowed to access
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: 'A business exception occured, e. g. provider not reachable'
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/profile/v2/address/delivery/validation/{market}/{language}':
    get:
      tags:
        - '/me/profile/v2 - EMEA, US'
      summary: Returns a list of mandatory attributes that are needed to create an address for the given market
      description: 'Hub-specific, Business Service call: in EMEA IPCustomerService.getMandatoryAttributesAddress'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: market
          in: path
          description: 'market / country (ISO country code): only certain markets are allowed'
          required: true
          type: string
        - name: language
          in: path
          description: 'language (ISO language code) : only certain languages are allowed '
          required: true
          type: string
      responses:
        '200':
          description: 'returns, which mandatory attributes need to be set to create an address'
          schema:
            $ref: '#/definitions/AddressInformationDO'
        '400':
          description: some of the parameters are not correct; if market - language combination invalid
        '403':
          description: user is not allowed to access
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: 'A business exception occured, e. g. provider not reachable'
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/profile/v2/basic:
    get:
      tags:
        - '/me/profile/v2 - EMEA, US'
      summary: Returns the basic data of the customer.
      description: ''

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: 'all known customer attributes, if exists, are returned'
          schema:
            $ref: '#/definitions/CustomerBasicDO'
        '403':
          description: user is not allowed to access
        '404':
          description: user not found
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: 'A business exception occured, e. g. provider not reachable'
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/profile/v2/light:
    get:
      tags:
        - '/me/profile/v2 - EMEA, US'
      summary: Returns basic data of the customer from IDS.
      description: ''

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: 'all known customer attributes, if exists, are returned'
          schema:
            $ref: '#/definitions/CustomerLightDO'
        '403':
          description: user is not allowed to access
        '404':
          description: user not found
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: 'A business exception occured, e. g. provider not reachable'
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/profile/v2/validation:
    get:
      tags:
        - '/me/profile/v2 - EMEA, US'
      summary: Returns a list of mandatory and optional attributes that are missing for the given customer. Completely revised with respect to v1-version of validation.
      description: 'Precondition: Customer (gcid) exists in IDS. If locale given although customer already exists, throw 400. If no locale given although customer does not exist, throw 404.'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: market
          in: query
          description: 'market / country (ISO country code): only certain markets are allowed; must be valid market; must be used together with language; necessary, if customer does not exist; if customer does exist, market must not be given (customer market used for validation)'
          required: false
          type: string
        - name: language
          in: query
          description: 'language (ISO language code) : only certain languages are allowed; must be valid language; must be used together with market; necessary, if customer does not exist; if customer does not exist, language code must not be given (customer language used for validation)'
          required: false
          type: string
        - name: validationType
          in: query
          description: 'type: if ''MAPPING'' or empty validate customer only, if ''STORE'' also validate address. default is ''MAPPING'''
          required: false
          type: string
          enum:
            - MAPPING
            - STORE
      responses:
        '200':
          description: 'returns, which mandatory attributes need be set to create a customer, that have not yet been set for the customer. In addition all optional attributes that are not yet set to the customer are returned.'
          schema:
            $ref: '#/definitions/CustomerInformationDO'
        '400':
          description: 'some of the parameters are not correct; if market - language combination invalid; if market and language given, although customer already exists; STORE-validation selected, but market does not have any store'
        '403':
          description: user is not allowed to access
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: 'A business exception occured, e. g. provider not reachable'
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/profile/v2/validation/{market}/{language}':
    get:
      tags:
        - '/me/profile/v2 - EMEA, US'
      summary: Returns a list of mandatory and optional attributes for given market (independent of user)
      description: 'Hub-specific, Business Service call: in EMEA IPCustomerService.checkCustomer.'

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: market
          in: path
          description: 'market / country (ISO country code): only certain markets are allowed; must be valid market; must be used together with language;'
          required: true
          type: string
        - name: language
          in: path
          description: 'language (ISO language code) : only certain languages are allowed; must be valid language; must be used together with market;'
          required: true
          type: string
        - name: validationType
          in: query
          description: 'type: if ''MAPPING'' or empty validate customer only, if ''STORE'' also validate address. default is ''MAPPING'''
          required: true
          type: string
          enum:
            - MAPPING
            - STORE
      responses:
        '200':
          description: 'returns, which mandatory attributes need be set to create a customer not set for the customer. Note: in EMEA only the privatePhoneNumber is linked to the communicationChannel'
          schema:
            $ref: '#/definitions/ValidationAttributesAndConditionsDO'
        '400':
          description: 'some of the parameters are not correct; if market - language combination invalid; if market and language given, although customer already exists'
        '403':
          description: user is not allowed to access
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: 'A business exception occured, e. g. provider not reachable'
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/service/batteryguard/v1:
    get:
      tags:
        - '/me/service/batteryguard - EMEA, US'
      summary: Returns battery guard status of all vehicles related to the customer
      description: ''

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/BatteryGuardStatusDO'
        '403':
          description: user is not allowed to access
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
    post:
      tags:
        - '/me/service/batteryguard - EMEA, US'
      summary: Updates the battery guard status of all given vehicles of the customer.
      description: 'If the status could be changed, the vehicle will be in the result list.'

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - in: body
          name: body
          description: the new status for all given vehicles
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/BatteryGuardStatusDO'
      responses:
        '200':
          description: successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/BatteryGuardStatusDO'
        '400':
          description: parameter(s) in url is not syntactically valid
        '403':
          description: user is not allowed to access
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/service/datastore/v1:
    post:
      tags:
        - '/me/service/datastore - EMEA, US'
      summary: Sets the value for a specific key
      description: 'The key-value-pair is associated with the userId from the header. If no key-value pair already exists for the given user, a new key-value pair will be created. Calls UserProfileService.setValueForKey'

      consumes:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - in: body
          name: body
          description: 'Key[a UUID] and value [maximal 1 million characters], key will be transformed to upper case'
          required: true
          schema:
            $ref: '#/definitions/KeyValueDO'
      responses:
        '200':
          description: new value for key saved in key-value-store
        '400':
          description: One of the required parameters was empty or incorrect
        '403':
          description: user is not allowed to access
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/service/datastore/v1/{key}':
    get:
      tags:
        - '/me/service/datastore - EMEA, US'
      summary: Returns the value for a specific key (key must be a UUID format)
      description: The key-value-pair is associated with the userId from the header. Calls Business Service UserProfileService.getValueForKey.

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: key
          in: path
          description: 'the key[a UUID] for which the value is to be returned, key will be transformed to upper case'
          required: true
          type: string
      responses:
        '200':
          description: key-value for user returned
          schema:
            $ref: '#/definitions/KeyValueDO'
        '400':
          description: One of the required parameters was empty or incorrect
        '403':
          description: user is not allowed to access
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
    delete:
      tags:
        - '/me/service/datastore - EMEA, US'
      summary: Deletes the value for the given key
      description: The key-value pair associated with the user id from the header is deleted. Calls UserProfileService.removeKeyValue

      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: key
          in: path
          description: 'key[a UUID] for which value is to be deleted, key will be transformed to upper case'
          required: true
          type: string
      responses:
        '200':
          description: Deletion successful.
        '400':
          description: One of the required parameters was empty or incorrect
        '403':
          description: user is not allowed to access
        '500':
          description: An internal error occurred
        '503':
          description: A business exception occured
  /me/service/email/account/v2:
    get:
      tags:
        - '/me/service/email/account/v2 - EMEA, US'
      summary: returns all email accounts configured by the customer. No changes to v1-version.
      description: ''

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/EmailAccountDO'
        '400':
          description: One of the required parameters was empty or incorrect
        '403':
          description: user is not allowed to access
        '404':
          description: email accounts not founds for given user
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
    post:
      tags:
        - '/me/service/email/account/v2 - EMEA, US'
      summary: 'creates a new email account (the maximum number of accounts that can be saved for a user is 10).New to v2-version: dedicated CreateEmailErrorEnums for validation errors (return code 400).'
      description: ''

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - in: body
          name: body
          description: account
          required: true
          schema:
            $ref: '#/definitions/EmailAccountDO'
      responses:
        '200':
          description: successful response
          schema:
            $ref: '#/definitions/EmailAccountDO'
        '400':
          description: 'One of the required parameters was empty or incorrect, the maximum number of allowed entries (10) is reached, account already exists or signature is limited to 512 characters.'
          schema:
            $ref: '#/definitions/CreateEmailErrorDO'
        '403':
          description: user is not allowed to access
        '404':
          description: email account not created
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/service/email/account/v2/validation/{type}':
    post:
      tags:
        - '/me/service/email/account/v2 - EMEA, US'
      summary: 'validate Inbox setting of an existing emailAccountNew to v2-version: new validation status, if error occurs during validation'
      description: ''

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: type
          in: path
          description: id of the email account
          required: true
          type: string
          enum:
            - INBOX
            - OUTBOX
            - BOTH
        - in: body
          name: body
          description: account
          required: true
          schema:
            $ref: '#/definitions/EmailAccountDO'
      responses:
        '200':
          description: successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/EmailValidationStatusV2DO'
        '400':
          description: 'One of the required parameters was empty or incorrect, signature is limited to 512 characters.'
        '403':
          description: user is not allowed to access
        '404':
          description: Validation failure
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/service/email/account/v2/{id}':
    post:
      tags:
        - '/me/service/email/account/v2 - EMEA, US'
      summary: 'updates the specified email account. New to v2-version: dedicated CreateEmailErrorEnums for validation errors (return code 400)'
      description: ''

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: id
          in: path
          description: id of the email account
          required: true
          type: integer
          format: int64
        - in: body
          name: body
          description: account
          required: true
          schema:
            $ref: '#/definitions/EmailAccountDO'
      responses:
        '200':
          description: successful response
          schema:
            $ref: '#/definitions/EmailAccountDO'
        '400':
          description: 'One of the required parameters was empty or incorrect, the maximum number of allowed entries (10) is reached, account already exists or signature is limited to 512 characters.'
          schema:
            $ref: '#/definitions/CreateEmailErrorDO'
        '403':
          description: user is not allowed to access
        '404':
          description: unable to update email account with accountId
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
    delete:
      tags:
        - '/me/service/email/account/v2 - EMEA, US'
      summary: delete the specified email account from the list of the email accounts. No changes to v1-version.
      description: ''

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: id
          in: path
          description: id of the email account
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: successful response
        '400':
          description: One of the required parameters was empty or incorrect
        '403':
          description: user is not allowed to access
        '404':
          description: unable to delete email account with accountId
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/service/email/providers/v1:
    get:
      tags:
        - '/me/service/email/providers EMEA, US'
      summary: returns all providers for market of the given user.
      description: ''

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/EmailProviderDO'
        '400':
          description: One of the required parameters was empty or incorrect
        '403':
          description: user is not allowed to access
        '404':
          description: email accounts not founds for given user
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/service/email/template/v1:
    get:
      tags:
        - '/me/service/email/template - EMEA, US'
      summary: returns all email templates configured by the customer
      description: ''

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/EmailTemplateDO'
        '400':
          description: One of the required parameters was empty or incorrect
        '403':
          description: user is not allowed to access
        '404':
          description: email templates not founds for given user
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
    post:
      tags:
        - '/me/service/email/template - EMEA, US'
      summary: creates a new email template (the maximum number of templates that can be saved for a user is 20).
      description: ''

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - in: body
          name: body
          description: template
          required: true
          schema:
            $ref: '#/definitions/EmailTemplateDO'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/EmailTemplateDO'
        '400':
          description: 'One of the required parameters was empty or incorrect, or the maximum number of allowed entries (20) is reached. name is limited to 256 characters and content is limited to 512 characters.'
        '403':
          description: user is not allowed to access
        '404':
          description: email template not created
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  '/me/service/email/template/v1/{id}':
    post:
      tags:
        - '/me/service/email/template - EMEA, US'
      summary: updates the specified email template
      description: ''

      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: id
          in: path
          description: id of the email template
          required: true
          type: integer
          format: int64
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/EmailTemplateDO'
      responses:
        '200':
          description: successful response
          schema:
            $ref: '#/definitions/EmailTemplateDO'
        '400':
          description: One of the required parameters was empty or incorrect
        '403':
          description: user is not allowed to access
        '404':
          description: email template not found
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
    delete:
      tags:
        - '/me/service/email/template - EMEA, US'
      summary: delete the specified email template from the list of the email templates
      description: ''

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
        - name: id
          in: path
          description: id of the email template
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: successful response
        '400':
          description: One of the required parameters was empty or incorrect
        '403':
          description: user is not allowed to access
        '404':
          description: email template not found
        '500':
          description: An internal error occurred
          schema:
            $ref: '#/definitions/ErrorsDO'
        '503':
          description: A business exception occured
          schema:
            $ref: '#/definitions/ErrorsDO'
  /me/service/feed/v1:
    get:
      tags:
        - '/me/service/feed - EMEA, US'
      summary: returns all feeds configured by the customer
      description: ''

      produces:
        - application/json;charset=utf-8
      parameters:
        - name: X-rgw-gcid
          in: header
          description: gcid
          required: true
          type: string
          default: ''
      responses:
        '200':
[...]
